{
  "IsEncrypted": false,
  "Values": {
    "AUX_FILENAME_BICAN_CONTROLLED_VOCAB": "controlled_vocab.bican.json",
    "AUX_FILENAME_CONTROLLED_VOCAB": "controlled_vocab.json",
    "AUX_FILENAME_IC_FORM_MAPPING": "ic_form_to_project_mappings.json",
    "AUX_FILENAME_RESTRICTED_BUCKET_LIST": "restricted_bucket_listing.json",
    "AZURE_MANIFEST_CONTAINER": "nemo-manifest-files",
    "AZURE_MANIFEST_ERROR_CONTAINER": "nemo-manifest-errors",
    "AZURE_STORAGE_ACCOUNT_CONNECTION": "<Storage account connection string>",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "AzureWebJobsStorage": "Azure Function Storage account connection string",
    "CONTENT_STORAGE_ACCOUNT__blobServiceUri": "https://owigseusnemodev.blob.core.windows.net",
    "CONTENT_STORAGE_ACCOUNT__queueServiceUri": "https://owigseusnemodev.queue.core.windows.net",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "RABBITMQ_HOST": "porpoise.rmq.cloudamqp.com",
    "RABBITMQ_PASSWORD": "<clear text password, not hash>",
    "RABBITMQ_PORT": "5672",
    "RABBITMQ_PUBLISHER_EXCHANGE_NAME": "exch_1",
    "RABBITMQ_PUBLISHER_QUEUE_NAME": "manifest_validation_status",
    "RABBITMQ_PUBLISHER_ROUTING_KEY": "manifest_validation_status",
    "RABBITMQ_USERNAME": "cykdlvsx",
    "RABBITMQ_VIRTUAL_HOST": "cykdlvsx"
  }
}